body {
  background-color: #2a3545;
  color: #fbcc06;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Full height of the viewport */
}

.container {
  max-width: 100%;
}

h1 {
  color: #23ccf7;
  margin-bottom: 20px;
}

.movies-container {
  display: flex;
  overflow-x: auto;
  margin: 20px 0;
  padding: 10px;
  white-space: nowrap;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #23ccf7 #2a3545;
  /* Firefox */
}

.movies-container::-webkit-scrollbar {
  height: 10px;
}

.movies-container::-webkit-scrollbar-track {
  background: #2a3545;
}

.movies-container::-webkit-scrollbar-thumb {
  background-color: #23ccf7;
  border-radius: 10px;
}

.movie {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  position: relative;
  /* Needed for positioning the title */
}

.movie img {
  width: 150px;
  height: auto;
  border: 2px solid #23ccf7;
  transition: transform 0.3s ease;
}

.movie .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fbcc06;
  font-size: 1em;
  padding: 5px;
  opacity: 0;
  /* Hidden by default */
  transition: opacity 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Adds ellipsis for long titles */
}

.movie:hover img {
  transform: scale(1.1);
  /* Enlarge image on hover */
}

.movie:hover .title {
  opacity: 1;
  /* Show title on hover */
}

#movie-details {
  max-width: 600px;
  background-color: #1e2a38;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#poster-container {
  margin: 20px 0;
}

#movie-poster {
  max-width: 100%;
  height: auto;
  border: 5px solid #23ccf7;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

#trailer-container {
  margin-top: 20px;
}

#movie-trailer {
  padding: 10px 20px;
  background-color: #23ccf7;
  color: #2a3545;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#movie-trailer:hover {
  background-color: #1ba3cc;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10004;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  width: 75vw;
  /* 75% of the viewport width */
  height: calc(75vw * 9 / 16);
  /* Maintain 16:9 aspect ratio */
  background-color: #000;
  border: none;
  z-index: 10005;
  /* Ensures iframe is above the background layer */
}

#trailer-frame {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #000;
}

.hidden {
  visibility: hidden;
}
